.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;  
    position: relative;   
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    color: white; 
    margin-left: auto; 
    order: 2;
  }
  